body {
  background-color: #ddd;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  font-size: 50px;
  padding: 30px 0;
}

button {
  padding: 5px 10px;
  font-size: 18px;
  background-color: #9ce4e4;
  border: 1px solid blue;
}

button:active {
  transform: scale(1.05);
}

.container {
  border: 1px solid #2d6187;
  width: 720px;
  height: 720px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 180px;
  width: 180px;
  border: 1px solid #2d6187;
  box-sizing: border-box;
  background-color: #28abb9;
}
